{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<h3 class="col-md-6 offset-md-3" style="background-color: rgb(244, 161, 255, 0.7); width: 150px;">Register</h3>
<hr>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="POST" style="background-color: rgb(244, 161, 255, 0.7); border-radius: 20px; width: 400px; padding: 30px 15px  ;">
            {% csrf_token %}
            <!--{{form.as_p}}-->
            {{form|crispy}}
        
            <br>
            <button type="submit" class="btn btn-danger">Login</button>
        </form>

    </div>
</div>
{% endblock body %}